

.main-text{
  position: absolute;
  color: #fff;
  /* text-align: center; */
  padding: 40px;
}

.donate-addresses {
  color: #fff;
  /* width: 100%; */
  /* margin: auto; */

}

.copy-eth, .copy-btc{
  float: right;
}

.habitatLogo {
   position: absolute;
   width: 100px;
   bottom: 20px;
}

.transmuteLogo {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 100px;
 
}


.copied-msg{
  text-align: center;
  padding: 20px;
  color: white;
}
