
.logo {
    width: 100px;
    position: absolute;
    bottom: 12px;
    right: 12px;
}

.cta-c {
    top: 64px;
    position: absolute;
    color: #fff;
    left: 25%;
    right: 25%;
    text-align: center;
}

.habitatLogo{
    width: 300px;
    margin: auto;
}